header.page-margin-top
    img.img-fluid.header-img-full-width(src='img/header.jpg' alt='Ballingarry AFC stats 1984 - Present')
    nav.navbar.bg-body-secondary
        .container-fluid 
            ul.navbar-nav 
                li.nav-item 
                    a.nav-link(href='#') Logout