header.page-margin-top
    a(href='/')
        img.img-fluid.header-img-full-width(src='/img/header.jpg' alt='Ballingarry AFC stats 1984 - Present')
    if user
        nav.navbar.bg-body-secondary
            .container-fluid 
                a.navbar-brand You are logged in, 
                    span=user.username
                ul.navbar-nav 
                    li.nav-item.logout-user 
                        //- a.nav-link(href='/logout') Logout
                        a.btn.btn-danger(href='/logout' role="button") Logout