extends base

block content 
    .container-fluid 
        h3.page-heading#playerSlug(data-slug=`${player.slug}`)= `Add Photo for ${player.firstName} ${player.lastName}`
        form(style="width: 80%; margin: auto").add-photo-form
            input(type='file', accept='image/*', id='photo', name='photo')
            .text-center
                button.btn.btn-success.btn-lg(type='submit') Add Photo
                a.btn.btn-outline-danger.btn-lg(href='/' role="button" style="margin-left: 0.7rem") Go Back
    script(src="/js/addPhoto.js") 