doctype html
html 
    head 
        title Ballingarry AFC All-Time Player Stats 1984 - Present | #{player}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.ico')
    body 
        h1= player
        h2= age - 10
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cupiditate corrupti dolores ipsum, consequuntur magnam ab explicabo expedita dolorem.